@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

html, body, #app{
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
}